@use '../base/color';
.menu-mobile {
    &__list {
        display :none;
        background-color: white;
        position: absolute;
        border-radius: 4px;
        padding: 20px;
        line-height: 2.6;
    }
    &__item {
        list-style: none;
    }
    &__link {
        text-decoration:none;
        color: color.$color-text;
    }

}