@use '../base/color';
@use '../abstracts/mixins';
.menu-mobile {
    &__list {
        display :none;
        background-color: white;
        position: absolute;
        border-radius: 4px;
        padding: 20px;
        line-height: 2.6;
    }
    &__item {
        list-style: none;
    }
    &__link {
        text-decoration:none;
        color: color.$color-text;
    }
    &__icon {
        width: 18px;
        margin-right: 10px;
    }
    @include mixins.desktop {
    display: none;
    }
}

.menu-desktop {
    display: none;
    @include mixins.desktop {
        flex-basis: 100%;
        justify-content: center;
        display: flex;
        gap: 20px;
        &__list {
            display: flex;
            gap: 20px;
            padding: 0;
        }
        &__item {
            background-color: white;
            padding: 10px 20px;
            border-radius: 4px;
            &:hover {
                background-color: color.$color-primary;
            }
        }
        }
}