@use 'typography';
@use '../abstracts/mixins';

html {
    box-sizing: border-box;
}
  
*, ::before, ::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 20px;
    background-image: url(/pictures/space-mobile.jpg);
    @include mixins.tablet {
        background-image: url(/pictures/space-tablet.jpg)
    }
    @include mixins.desktop {
        background-image: url(/pictures/space-desktop.jpg)
    }
    background-size: cover;
    background-repeat:inherit;
    font-family: typography.$font-primary;

}


.bold {
    font-weight: bold;
}
