@use 'typography';

html {
    box-sizing: border-box;
}
  
*, ::before, ::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 20px;
    background-image: url(/pictures/space.jpg);
    background-size: cover;
    background-repeat:inherit;
    font-family: typography.$font-primary;
}

